@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* Additional styling */


h1,
h2 {
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 8rem;
  font-weight: 400;
  line-height: 1;
  padding-top:0.5rem;
  letter-spacing:0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
  
}

@media (max-width:500px){
  h1{
    text-align: left;
    letter-spacing:0.2rem;
    left:3rem;
    
  }

  

}

h1 {
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #2C2E43,
      0 0 80px #2C2E43, 0 0 90px #2C2E43, 0 0 100px #2C2E43, 0 0 150px #2C2E43;
  }

  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #2C2E43,
      0 0 73px #2C2E43, 0 0 80px #2C2E43, 0 0 94px #2C2E43, 0 0 140px #2C2E43;
  }
}
