body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",sans-serif;

}

body {
  
  height: 100vh;
  width: 100vw;
}

.head{
 
  font-family: "Zen Dots", cursive;
  letter-spacing: 3px;
  text-transform: uppercase;
  
}


.eth{
  width: 22px;
  margin-right: 10px;
  height: 22px;
}

.logo{
  width: 40px;
  margin-right: 20px;
  border-radius: 50%;
  height: 40px;
}

h1 {
  color: #D3D3D3;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
  margin-bottom: 0px;
  height:50px
}

.text {
  font-size: 40px;
  margin-left: 40px;
 
  
}

.message {
  background-color: #f4d504;
  color: #333;
  font-weight: 800;
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  padding-left: 0.5rem;
  margin-left: 1rem;
  top: 0.2rem;
  left: 260px;
  animation: openclose 8s ease-in-out infinite;
}

.word1, .word2, .word3 {
  font-family: tahoma;
  display:flex;
  flex-direction: column;
  text-align:center;
  
  justify-content:center;
}

@keyframes openclose {
  0% {
    top: 0.5rem;
    width: 0;
  }
  5% {
    width:10px;
  }

  15% {
    top: 0.5rem;
    width: 220px;
  }
  35% {
    top: 0.5rem;
    width: 220px;
  }
  38% {
    top: 0.5rem;
    width: 220px;
    
  }
  48% {
    top: -4.5rem;
    width: 220px;
  }
  62% {
    top: -4.5rem;
    width: 220px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 220px;
  }
  95% {
    top: -9rem;
    width: 220px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 10px;
  }
  100% {
    top: 1rem;
    width: 0;
    text-indent: 0;
  }
}

.line{
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 5px 5px 10px;
  width:700px;
}

.logos{
  width: 28px;
  margin: 450px 0 0 20px;
  height: 28px;
  display:inline-flex;

  
  justify-content:space-between;

}

.flex{
  margin: 0px 0 0 450px;
}
