
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",sans-serif;

}

body {
  
  height: 100vh;
  width: 100vw;
}

.head{
 
  font-family: "Zen Dots", cursive;
  letter-spacing: 3px;
  text-transform: uppercase;
  
}


.eth{
  width: 22px;
  margin-right: 10px;
  height: 22px;
}

.logo{
  width: 40px;
  margin-right: 20px;
  border-radius: 50%;
  height: 40px;
}

h1 {
  color: #D3D3D3;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
  margin-bottom: 0px;
  height:50px
}

.text {
  font-size: 40px;
  margin-left: 40px;
 
  
}

.message {
  background-color: #f4d504;
  color: #333;
  font-weight: 800;
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  padding-left: 0.5rem;
  margin-left: 1rem;
  top: 0.2rem;
  left: 260px;
  animation: openclose 8s ease-in-out infinite;
}

.word1, .word2, .word3 {
  font-family: tahoma;
  display:flex;
  flex-direction: column;
  text-align:center;
  
  justify-content:center;
}

@keyframes openclose {
  0% {
    top: 0.5rem;
    width: 0;
  }
  5% {
    width:10px;
  }

  15% {
    top: 0.5rem;
    width: 220px;
  }
  35% {
    top: 0.5rem;
    width: 220px;
  }
  38% {
    top: 0.5rem;
    width: 220px;
    
  }
  48% {
    top: -4.5rem;
    width: 220px;
  }
  62% {
    top: -4.5rem;
    width: 220px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 220px;
  }
  95% {
    top: -9rem;
    width: 220px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 10px;
  }
  100% {
    top: 1rem;
    width: 0;
    text-indent: 0;
  }
}

.line{
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 5px 5px 10px;
  width:700px;
  display:flex;
  flex-direction: column;
}

.logos{
  width: 28px;
  margin: 50px 0 0 20px;
  height: 28px;
  display:inline-flex;

}

.flex{
  margin:50px 0 0 435px;
}

*::after, *::before {
  box-sizing: border-box;
}

.body {
    color: #f4d504;
    font-family: "Courier New", Courier, monospace;
    font-size: 7rem;
    
   
}

.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
  border-radius: .1em;
  background-color: #383838;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 11rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(244, 213, 4, 0.37);

}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: .75em;
  line-height: 1;
  padding: .25em;
  overflow: hidden;
  
}

.top,
.flip-card .top-flip {
  background-color: white;
  border-top-right-radius: .1em;
  border-top-left-radius: .1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom,
.flip-card .bottom-flip {
  background-color: white;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: .1em;
  border-bottom-left-radius: .1em;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.container {
  display: flex;
  margin-top:20px;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  gap:3rem;
  margin-left: 90px;
 

}


.flip-card:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-31deg, #181818  100% );
  transform: translate3d(-9px, 8px, 0) scale(1.08);
  filter: blur(36px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

      

.segment {
  display: flex;
  
}

.segment-title {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  text-transform:uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  margin-top:3rem;
  color:#F2F2F2;
  text-align: center;
  justify-content: center;
}

.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.sm{
  margin:0 0 0 225px;
}


form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(244, 213, 4, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: #ffffff;
  width: 450px;
}

h1 {
  color: rgb(77, 1, 77);
  text-align: center;
}

.buttons {
  background-color: hsla(240, 28%, 4%, 1);
  background-image: radial-gradient(
      at 57% 59%,
      hsla(210, 10%, 22%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 100%, hsla(210, 10%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(210, 10%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(210, 10%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 78%, hsla(210, 10%, 22%, 1) 0px, transparent 50%);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-top: 20px;
  height: 40px;
  border: none;
  width: 220px;
  margin-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Zen Dots", cursive;
  letter-spacing: 3px;
}

.btn-wdr {
  width: 270px
}

.buttons a {
  text-decoration: none;
  color: #fff;
  font-size: 0.85rem;
}

.button_submit {
  background-color: hsla(240, 28%, 4%, 1);
  background-image: radial-gradient(
      at 57% 59%,
      hsla(210, 10%, 22%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 100%, hsla(210, 10%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(210, 10%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(210, 10%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 78%, hsla(210, 10%, 22%, 1) 0px, transparent 50%);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-top: 20px;
  height: 40px;
  border: none;
  width: 130px;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Zen Dots", cursive;
  letter-spacing: 3px;
}

.button_submit:active {
  transform: translateY(3px);
}

.button {
  text-decoration: none;
}

.form-control {
  margin-top: 10px;
  border: none;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 10px;
}

.alert{
  width: 400px;
  height: 100px;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(244, 213, 4, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: #ffffff;

}

.link{
  text-decoration: none;
  color: #2e2e2e;
  font-size: 0.85rem;
}
.heading{
  color: #ffffff;
}