
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",sans-serif;

}

body {
  
  height: 100vh;
  width: 100vw;
}

.head{
 
  font-family: "Zen Dots", cursive;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 0.3rem;
 
  
}

.header{
  font-family: "Zen Dots", cursive;
}

.eth{
  width: 22px;
  margin-right: 10px;
  height: 22px;
}

.logo{
  width: 40px;
  margin-right: 20px;
  border-radius: 50%;
  height: 40px;
}

h1 {
  color: #D3D3D3;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
  margin-bottom: 0px;
  height:50px
}

.text {
  font-size: 40px;
  margin-left: 40px;
 
  
}

.word1, .word2, .word3 {
  font-family: tahoma;
  display:flex;
  flex-direction: column;
  text-align:center;
  
  justify-content:center;
}

@keyframes openclose {
  0% {
    top: 0rem;
    width: 0;
    text-indent: 0;
  }
  5% {
    top: 1rem;
    width:5px;
  }
  15% {
    top: 0.5rem;
    width: 220px;
  }
  30% {
    top: 1rem;
    width: 220px;
  }
  45% {
    top: -2rem;
    width: 220px;
  }
  55% {
    top: -2rem;
    width: 220px;
  }
  70% {
    top: -4.5rem;
    width: 220px;
  }
  80% {
    top: -4.5rem;
    width: 220px;
  }
  90% {
    
    width: 10px;
  }
  95% {
    
    width: 10px;
  }


  100% {
    top: -12rem;
    width: 0;
    text-indent: 0;
  }
}

.line{
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 5px 5px 10px;
  width:700px;
  display:flex;
  flex-direction: column;
}

.logos{
  width: 28px;
  margin: 50px 0 0 20px;
  height: 28px;
  display:inline-flex;

}

.flex{
  margin:50px 0 0 435px;
}

*::after, *::before {
  box-sizing: border-box;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(244, 213, 4, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: #ffffff;
  width: 450px;
}

h1 {
  color: rgb(77, 1, 77);
  text-align: center;
}

.buttons {
  background-color: hsla(240, 28%, 4%, 1);
  background-image: radial-gradient(
      at 57% 59%,
      hsla(210, 10%, 22%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 100%, hsla(210, 10%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(210, 10%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(210, 10%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 78%, hsla(210, 10%, 22%, 1) 0px, transparent 50%);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-top: 20px;
  height: 40px;
  border: none;
  width: 220px;
  margin-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Zen Dots", cursive;
  letter-spacing: 3px;
}

.btn-wdr {
  width: 270px
}

.buttons a {
  text-decoration: none;
  color: #fff;
  font-size: 0.85rem;
}

.button_submit {
  background-color: hsla(240, 28%, 4%, 1);
  background-image: radial-gradient(
      at 57% 59%,
      hsla(210, 10%, 22%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 100%, hsla(210, 10%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(210, 10%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(210, 10%, 22%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 78%, hsla(210, 10%, 22%, 1) 0px, transparent 50%);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-top: 20px;
  height: 40px;
  border: none;
  width: 130px;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Zen Dots", cursive;
  letter-spacing: 3px;
}

.button_submit:active {
  transform: translateY(3px);
}

.button {
  text-decoration: none;
}

.form-control {
  margin-top: 10px;
  border: none;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 10px;
}

.alert{
  width: 400px;
  height: 100px;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(244, 213, 4, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: #ffffff;

}

.link{
  text-decoration: none;
  color: #2e2e2e;
  font-size: 0.85rem;
}
.heading{
  color: #ffffff;
}

.table{
  width:50rem;
  height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f4d504;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#f4d504; 
}

.spline{
  width: 100%;
  height: 100%;
  @media (max-width: 1024px) {
    transform: scale(0.8) transform(200px);
  }
  @media (max-width: 800px) {
    transform: scale(0.7) transform(600px);
  }
  @media (max-width: 600px) {
    transform: scale(0.5) transform(-100px);
    right: auto;
    left: 50%;
    margin-left: -600px;
  }
  @media (max-width: 375px) {
    transform: scale(0.5) transform(-50px);
    width:375px;

  }
}

